.main-header{
	position:relative;
	background-color:#1E90FF;
	height:8vh;
	margin:auto;
	background-size: cover;
  display: flex;
  justify-content: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-body{
	position:static;
	background-color:#696969;
	height:93.5%;
	width:100%vw;
}
.box{
	margin:-8px;
	
	
}

